div.markdown
	font-size: 1.25rem
	hr
		margin: $md 0 $sm
	ul
		margin-left: $sm
	p, ul
		margin-bottom: $xs
	pre
		background-color: $dark
		border-radius: $xs
		padding: $sm $sm 0
		@media (min-width: 1200px)
			width: 80%
		code
			background: none
			box-shadow: none

// .markdown-texteditor
// 	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
