// Reset some basic settings
a
	color: $primary
	text-decoration: none
a:hover
	color: $primary-dark

.cb-cursor
	cursor: pointer

.generic-link
	color: $dark

.generic-link:hover
	color: $dark
	text-decoration: underline

.generic-text
	color: $dark

// Vuetify resets
.no-toolbar-padding
	.v-toolbar__content
		padding: 0

.text-capitalize
	text-transform: capitalize

.text-underline
	text-decoration: underline

.text-unstyled
	text-decoration: none

.v-btn.true-flat:hover
	background-color: transparent !important
	box-shadow: none !important
