.e7-icons
	& > span
		display: inline-block
		height: 24px
		line-height: 24px
		&:before
			content: ""
			display: inline-block
			height: 24px
			background: url('/content/icons.png') no-repeat
			vertical-align: middle
	.ice, .fire, .earth, .dark, .light, .warrior, .knight, .thief, .ranger, .mage, .soul-weaver
		&:before
			width: 25px
	.ice
		&:before
			background-position: 0 -320px
	.fire
		&:before
			background-position: -60px -320px
	.earth
		&:before
			background-position: -90px -320px
	.dark
		&:before
			background-position: -30px -320px
	.light
		&:before
			background-position: -120px -320px
	.warrior
		&:before
			background-position: 0 -379px
	.knight
		&:before
			background-position: -30px -379px
	.thief
		&:before
			background-position: -120px -379px
	.ranger
		&:before
			background-position: -60px -379px
	.mage
		&:before
			background-position: -150px -379px
	.soul-weaver
		&:before
			background-position: -90px -379px
